name: Docker Build and Push

on:
  push:
    branches:
      - master  # Change this to your main branch name

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # This step checks out your code

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: |
          docker build -t gosharmatelia/myapp:latest .
        
      - name: Push Docker image to Docker Hub
        run: |
          docker push gosharmatelia/myapp:latest
